<div class="boleto">
    <div style=" width: 4cm;">
        <div class="left_section ">
            <h5 style="margin: 0;" class="pagador">Recibo do pagador</h5>
        </div>
        <div class="left_section">
            <h1>Loja-contrato-parcela</h1>
            <p id="">{{store}}-{{contrato}}-{{parcela}}</p>
        </div>
        <div class="left_section">
            <h1>Nosso numero</h1>
            <p id="">{{bill.snumero10}}</p>
        </div>
        <div class="left_section">
            <h1>Vencimento</h1>
            <p class="date_format">{{bill.dataVencto10}}</p>
        </div>
        <div class="left_section">
            <h1>Valor</h1>
            <p class="valor">{{bill.valMoeda10}}</p>
        </div>
        <div class="left_section">
            <h1>Valor Pago</h1>
            <p style="color: transparent;">.</p>
        </div>
        <div class="left_section">
            <h1>Pagador(a)</h1>
            <p style="font-size: 9px; font-weight: normal;">
                {{bill.nomeSacado10}} - {{bill.cnpjSacado10}}{{bill.cnpjSacador10}} - {{bill.endSacado10}}
            </p>
        </div>
    </div>
    <div>
        <div class="top_section">
            <div class="" style="border-right: 0.5px solid black;">
                <img src="https://i.pinimg.com/originals/44/20/d9/4420d98b6f57afe398abc884b88c33de.png" alt=""
                    style="height: 24px;">
            </div>
            <div class="" style="border-right: 0.5px solid black;">
                <p>237-3</p>
            </div>
            <div class="" style="min-height: 10px;">
                <p>{{bill.linhaDig10}}</p>
            </div>
        </div>
        <div class="center-content">
            <div class="colum">
                <div class="row">
                    <h1>Local de pagamento</h1>
                    <p id="">
                        Pagável em qualquer banco ou em uma de nossas lojas.
                    </p>
                </div>
                <div class="row">
                    <h1>Beneficiário final</h1>
                    <p id="">
                        {{bill.cedente10}}
                    </p>
                </div>
                <div class="rowgrid">
                    <div class="block">
                        <h1>Data do documento</h1>
                        <p class="date_format">
                            {{bill.dataEmis10}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>N do documento</h1>
                        <p id="">
                            {{bill.ctitloCobrCdent}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>Espécie Doc</h1>
                        <p id="">
                            {{bill.especDocto10}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>Aceite</h1>
                        <p id="">
                            {{bill.aceite10}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>Data processamento</h1>
                        <p class="date_format">
                            {{bill.dataReg10}}
                        </p>
                    </div>
                </div>
                <div class="qrcoderow">
                    <div class="left" style="flex: 1">
                        <div class="top">
                            <div class="block">
                                <h1>Uso do banco</h1>
                                <p style="color: transparent;">.</p>
                            </div>
                            <div class="block">
                                <h1>Carteira</h1>
                                <p>
                                    {{bill.cidtfdProdCobr}}
                                </p>
                            </div>
                            <div class="block">
                                <h1>Moeda</h1>
                                <p id="">
                                    {{bill.especMoeda10}}
                                </p>
                            </div>
                            <div class="block">
                                <h1>Quantidade</h1>
                                <p id="">
                                    {{bill.qtdeMoeda10}}
                                </p>
                            </div>
                        </div>
                        <div class="bot">
                            <h1>
                                Pagador(a)
                            </h1>
                            <p id="">
                                {{bill.nomeSacado10}}<br>
                                CPF/CNPJ: <span class="cpfOrCnpj">{{bill.cnpjSacado10}}{{bill.cnpjSacador10}}</span><br>
                                ENDEREÇO: {{bill.endSacado10}}
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <h1>Pague via QrCode pix</h1>
                        <input type="hidden" value="{{this.bill.wqrcdPdraoMercd}}" id="{{this.id}}_qrcode_value"
                            class="qrcode_value">
                        <div id="{{this.id}}_qrcode"></div>
                    </div>
                </div>
                <div style="width: 100%; padding-top: 1mm;">
                    <svg class="barcode"></svg>
                </div>
            </div>
            <div class="colum">
                <div class="right_section">
                    <h1>Loja-contrato-parcela</h1>
                    <p id="">{{store}}-{{contrato}}-{{parcela}}</p>
                </div>
                <div class="right_section">
                    <h1>Nosso numero</h1>
                    <p id="">{{bill.snumero10}}</p>
                </div>
                <div class="right_section">
                    <h1>Vencimento</h1>
                    <p id="" style="margin: 0; font-size: 20px;">
                        <strong class="date_format">
                            {{bill.dataVencto10}}
                        </strong>
                    </p>
                </div>
                <div class="right_section">
                    <h1>Valor do documento</h1>
                    <p style="margin: 0; font-size: 20px;">{{bill.valor}}
                        <strong class="valor">{{bill.valMoeda10}}</strong>
                    </p>
                </div>
                <div class="right_section">
                    <h1>Valor Pago</h1>
                    <p style="color: transparent;">.</p>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Beneficiário final</h1>
                <p></p>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
    <script>
        function linhaDigitavelParaCodigoBarras(linhaDigitavel) {
            // Remover quaisquer caracteres não numéricos
            let digitos = linhaDigitavel.replace(/\D/g, '');
            // Verificar se a linha digitável tem o comprimento correto
            if (digitos.length !== 47) {
                return ""
            }

            // Reorganizar os campos conforme especificado pela FEBRABAN
            let codigoBarras = digitos.substring(0, 4) +   // Campo 1: Posições 1-4
                digitos.substring(32, 33) + // Campo 5: Posição 33
                digitos.substring(33, 37) + // Campo 6: Posições 34-37
                digitos.substring(37, 47) + // Campo 7: Posições 38-47
                digitos.substring(4, 9) +   // Campo 2: Posições 5-9
                digitos.substring(10, 20) + // Campo 3: Posições 11-20
                digitos.substring(21, 31);  // Campo 4: Posições 22-31

            return codigoBarras;
        }
        JsBarcode(".barcode",
            linhaDigitavelParaCodigoBarras('{{bill.linhaDig10}}')
            , {
                format: "CODE128",
                displayValue: false,
                width: 1.2,
                height: 30,
                margin: 0,
            });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
    {{!-- moment --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</div>