{{#each bils}}
<div class="boleto">
    <div style="min-width: 4cm;">
        <div class="left_section ">
            <h5 style="margin: 0;" class="pagador">Recibo do pagador</h5>
        </div>
        <div class="left_section">
            <h1>Loja-contrato-parcela</h1>
            <p id="">{{this.store}}-{{this.contrato}}-{{this.parcela}}</p>
        </div>
        <div class="left_section">
            <h1>Nosso numero</h1>
            <p id="">{{this.bill.ctitloCobrCdent}}</p>
        </div>
        <div class="left_section">
            <h1>Vencimento</h1>
            <p class="date_format">{{this.bill.dataVencto10}}</p>
        </div>
        <div class="left_section">
            <h1>Valor</h1>
            <p class="valor">{{this.bill.valMoeda10}}</p>
        </div>
        <div class="left_section">
            <h1>Valor Pago</h1>
            <p style="color: transparent;">.</p>
        </div>
        <div class="left_section">
            <h1>Pagador(a)</h1>
            <p style="font-size: 9px; font-weight: normal;">
                {{this.client_id}} - {{this.bill.nomeSacado10}}
                {{this.bill.endSacado10}}
            </p>
        </div>
    </div>
    <div>
        <div class="top_section">
            <div class="" style="border-right: 0.5px solid black;">
                <img src="https://i.pinimg.com/originals/44/20/d9/4420d98b6f57afe398abc884b88c33de.png" alt=""
                    style="height: 24px;">
            </div>
            <div class="" style="border-right: 0.5px solid black;">
                <p>237-3</p>
            </div>
            <div class="" style="min-height: 10px;">
                <p
                    style="font-size: 15px;"
                >{{this.bill.linhaDig10}}</p>
            </div>
        </div>
        <div class="center-content">
            <div class="colum">
                <div class="rowgrid">

                    <div class="block">
                        <h1>Local de pagamento</h1>
                        <p id="" style="font-size: 10px">
                            Pagável em qualquer banco ou em uma de nossas lojas.
                        </p>
                    </div>
                    <div class="block" style="margin-left: auto;">
                        <h1>Carteira</h1>
                        <p>
                            {{this.bill.cidtfdProdCobr}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>Moeda</h1>
                        <p id="">
                            {{this.bill.especMoeda10}}
                        </p>
                    </div>
                    <div class="block">
                        <h1>Quantidade</h1>
                        <p id="">
                            {{this.bill.qtdeMoeda10}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <h1>Beneficiário final</h1>
                    <p id="">
                        {{this.bill.cedente10}} - <span>05.391.441/0001-85</span>
                    </p>
                </div>

                <div class="qrcoderow">
                    <div class="left" style="flex: 1">
                        <div class="rowgrid">
                            <div class="block">
                                <h1>Data do documento</h1>
                                <p class="date_format">
                                    {{this.bill.dataEmis10}}
                                </p>
                            </div>
                            <div class="block">
                                <h1>N do documento</h1>
                                <p id="">
                                    {{this.bill.ctitloCobrCdent}}
                                </p>
                            </div>
                            <div class="block">
                                <h1>Espécie Doc</h1>
                                <p id="">
                                    {{this.bill.especDocto10}}
                                </p>
                            </div>
                        </div>
                        <div class="bot">
                            <div class="rowgrid">

                                <div class="block">
                                    <h1 style="font-size: 10px !important;">Aceite</h1>
                                    <p style="font-size: 10px;">
                                        {{this.bill.aceite10}}
                                    </p>
                                </div>
                                <div class="block">
                                    <h1 style="font-size: 10px;">Data processamento</h1>
                                    <p class="date_format" style="font-size: 10px;">
                                        {{this.bill.dataReg10}}
                                    </p>
                                </div>
                            </div>
                            <div style="display: flex; gap: 4px; margin-bottom: 4px;">
                                <h1>
                                    Pagador(a)
                                </h1>
                                <p id="" style="font-size: 8px;">
                                    {{this.bill.nomeSacado10}}<br>
                                    CPF/CNPJ: <span class="cpfOrCnpj">{{this.bill.cnpjSacador10}}</span><br>
                                    ENDEREÇO: {{this.bill.endSacado10}}
                                </p>
                            </div>
                            <span>
                                {{this.messageBill}}
                            </span>
                        </div>
                    </div>
                    <div class="right">
                            <h1
                                style="font-size: 9px;"
                            >Pague via QrCode pix </h1>
                        <input type="hidden" value="{{this.bill.wqrcdPdraoMercd}}" id="{{this.id}}_qrcode_value"
                            class="qrcode_value">
                        <div id="{{this.id}}_qrcode"></div>
                    </div>
                </div>
                <div style="width: 100%; padding-top: 0mm;
                    position: relative;
                ">
                    <input type="hidden" value="{{this.bill.linhaDig10}}" id="{{this.id}}_barcode_value" class="barcode_value">
                    <svg class="barcode_{{this.id}}" style="width: 98%; margin-top: -4px;"></svg>
                </div>
            </div>
            <div class="colum">
                <div class="right_section">
                    <h1>Loja-contrato-parcela</h1>
                    <p id="">{{this.store}}-{{this.contrato}}-{{this.parcela}}</p>
                </div>
                <div class="right_section">
                    <h1>Nosso numero</h1>
                    <p id="">{{this.bill.ctitloCobrCdent}}</p>
                </div>
                <div class="right_section">
                    <h1>Vencimento</h1>
                    <p id="" style="margin: 0; font-size: 20px;">
                        <strong class="date_format">
                            {{this.bill.dataVencto10}}
                        </strong>
                    </p>
                </div>
                <div class="right_section">
                    <h1>Valor do documento</h1>
                    <p style="margin: 0; font-size: 20px;">{{this.bill.valor}}
                        <strong class="valor">{{this.bill.valMoeda10}}</strong>
                    </p>
                </div>
                <div class="right_section">
                    <h1>Valor Pago</h1>
                    <p style="color: transparent;">.</p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Beneficiário final</h1>
                <p></p>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
    {{!-- moment --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</div>
{{/each}}